@import "tailwindcss";

html,
body {
    @apply m-0 h-full flex;
}

.card {
    @apply bg-white shadow-md rounded-lg p-4;
}

.delay-show {
    animation: 10s showWithDelay;
    animation-fill-mode: forwards;

    visibility: hidden;
}

@keyframes showWithDelay {
    99% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

.fadeIn-start {
    position: absolute;
    transition: opacity 0.3s ease-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: scale(0.8);
}

.fadeIn {
    opacity: 1;
    transform: scale(1);
}

.fadeOut-start {
    position: absolute;
    transition: opacity 0.3s ease-out, transform 0.3s ease-in-out;
    opacity: 1;
    transform: scale(1);
}

.fadeOut {
    opacity: 0;
    transform: scale(0.8);
}